@import url("../global/general.css");

/* HEADER */
.header {
  padding: 20px 0;
  background: var(--bg);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-logo);
  text-decoration: none;
  font-family: var(--rubik-font);
  line-height: 100%;
  transition: transform 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.05);
}

.header__nav {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 600;
}

.header__nav-item {
  cursor: pointer;
  transition: color 0.8s ease, border-bottom 0.3s ease;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--text-color);
}

.header__nav-item:hover {
  color: var(--color-nav-cursor);
  border-bottom: 2px solid var(--color-nav-cursor);
}

.header__nav-item--active {
  color: var(--color-nav-cursor);
}

.header__auth {
  display: flex;
  gap: 25px;
  font-size: 16px;
  font-weight: 600;
}

.header__auth-item {
  cursor: pointer;
  text-decoration: none;
  color: var(--footer-bg-color);
  transition: color 0.8s ease, transform 0.3s ease;
}

.header__auth-item:hover {
  transform: scale(1.1);
  color: var(--color-nav-cursor);
  transition: color 0.8s ease, transform 0.5s ease;
}

/*\\\\\\\\\\\\\\\\\\\\\\\*/

.story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 58px;
  padding-top: 109px;
  padding-bottom: 109px;
}

.story-text {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.story-text-title {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
}
.story-text-parag {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}
.story-view {
  margin: 0 auto;
}
.story-information {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.story-information-title {
  max-width: 451px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.story-information-parag {
  max-width: 469px;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}

/* Skill */
.skill {
  background-color: var(--secondary-bg-color);
}

.skill-content {
  padding-top: 138px;
  padding-bottom: 138px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill-information {
  max-width: 495px;

  display: flex;
  flex-direction: column;
  gap: 39px;
}
.skill-title {
  max-width: 420px;

  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.skill-parag {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}

/* TEAM */
.team {
  padding-top: 107px;
  padding-bottom: 107px;
}
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 25px;
}
.team-parag {
  max-width: 610px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 68px;

  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
}

.team-cards {
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
  gap: 30px;
}
.team-card {
  border: none;
  margin-bottom: 60px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\*/

.footer-container {
  background-color: var(--footer-bg-color);
  /* max-width: 1600px; */
  width: 100%;
  margin: 0 auto;
  min-height: 500px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer-column {
  font-family: var(--roboto-font);
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  max-width: 300px;
  height: 209px;
  margin-top: 120px;
}

.column-logo-text:hover,
.column-logo-title:hover,
.footer-icons:hover,
.column-text:hover,
.col-p:hover {
  transform: scale(1.05) translateY(-4px);
  transition: all 0.5s ease-in-out;
}

.column-logo-title {
  font-family: var(--rubik-font);
  font-size: 28px;
  padding-bottom: 30px;
}

.column-logo-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.1px;
  Opacity: 65%;
}

.column-text {
  font-weight: 400px;
  line-height: 50px;
  font-size: 15px;
  Opacity: 65%;
}

.col-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: -0.2px;
  Opacity: 90%;
}

.footer-icons {
  display: flex;
  float: left;
  padding: 10px;
}
