:root {
  /* Colors */
  --text-color: #161c2d;
  --bg-color: #f0fbf3;
  --light-color: #ffffff;
  --card-hover-color: #473bf0;
  --border-color: #e7e9ed;
  --opacity-card-color: #68d585;
  --secondary-bg-color: #F4F7FA;

  /* Fonts */
  --roboto-font: "Roboto", sans-serif;
  --rubik-font: "Rubik", sans-serif;
}
